{% load widget_tweaks %}

<form action="{% url 'hr:main' %}" method="get">
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label for="exampleInputEmail1">Отдел</label>
                {% render_field filter.form.institution class+="form-control select2_class" style="width: 100%" %}
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label for="exampleInputEmail1">Навыки навыки для вакансии</label>
                {% render_field filter.form.skills class+="form-control select2_class" style="width: 100%" %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label for="exampleInputEmail1">Иностранный язык для вакансии</label>
                {% render_field filter.form.language class+="form-control" style="width: 100%" %}
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label for="exampleInputEmail1">Необходимый уровень владения</label>
                {% render_field filter.form.language_level class+="form-control" style="width: 100%" %}
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Поиск</button>&nbsp;&nbsp;<a href="{% url 'hr:main' %}" class="btn btn-primary">Сбросить фильтр</a>
</form>